*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#ffffff;
$mainGrey:#ececec;



body {
  font-family: 'Audiowide', cursive;
  background: $mainWhite;
  color: $mainBlack;
}

